<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Radiology Institute</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <h1>Radiology Institute</h1>

    <p>
        Date: <strong th:text="${today}"></strong>
    </p>

    <hr>

    <h3>Patients</h3>
    <div class="list-group">
        <a href="/patient/list" class="list-group-item">View patient list</a>
        <a href="/patient/add" class="list-group-item">Register new patient</a>
    </div>

    <h3>Devices</h3>
    <div class="list-group">
        <a href="/device/list" class="list-group-item">View device list</a>
        <a href="/device/add" class="list-group-item">Add new device</a>
    </div>

    <h3>Reservations</h3>
    <div class="list-group">
        <a href="/reservation/list" class="list-group-item">View reservation list</a>
        <a href="/reservation/add" class="list-group-item">Create new reservation</a>
    </div>

</div>

</body>
</html>