<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Social security number</th>
                <th>Gender</th>
                <th>Birthdate</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${patients}">
                <td th:text="${p.name}"></td>
                <td th:text="${p.surname}"></td>
                <td th:text="${p.ssn}"></td>
                <td th:text="${p.gender}"></td>
                <td th:text="${p.birth}"></td>

            </tr>
        </tbody>

    </table>

    <p>
        <a href="/patient/add">new patient</a>
    </p>
</div>
</body>
</html>